body {
  background-color: rgb(242, 242, 242);
}

/* puts the backgorund to back so it doesn't obstruct anything */
.background-img {
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: -1;
}

/* hack for the sticky footer */
.main-content {
  min-height: calc(100vh - 100px);
}

/* hack for the sticky footer */
.footer {
  height: 70px;
}

.nav-link {
  cursor: pointer;
}

.hover-blue:hover {
  color: rgb(0, 153, 255) !important;
}

/* bootstrap button reset */
.btn {
  text-transform: uppercase;
  border: none;
}

.btn-primary {
  background-color: rgb(0, 153, 255);
}
