body {
  background-color: rgb(242, 242, 242);
}

/* hack for the sticky footer */
.main-content {
  min-height: calc(100vh - 100px);
}

/* hack for the sticky footer */
.footer {
  height: 70px;
}

.nav-link {
  cursor: pointer;
}

.hover-blue:hover {
  color: rgb(0, 153, 255) !important;
}
