body {
  background-color: rgb(242, 242, 242);
}

#board {
  display: flex;
  flex-wrap: wrap;
}

/* puts the backgorund to back so it doesn't obstruct anything */
.background-img {
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: -1;
}

/* hack for the sticky footer */
.main-content {
  min-height: calc(100vh - 100px);
}

/* hack for the sticky footer */
.footer {
  height: 70px;
}

.nav-link {
  cursor: pointer;
}

.hover-blue:hover {
  color: rgb(0, 153, 255) !important;
}

/* bootstrap button reset */
.btn {
  text-transform: uppercase;
  border: none;
}

.btn-primary {
  background-color: rgb(0, 153, 255);
}

.text-small {
  font-size: 14px;
}

.text-large {
  font-size: 32px;
}

.text-white {
  color: rgb(255, 255, 255);
}

.text-subtle {
  color: rgb(242, 242, 242);
}

/* fix size for the cards */
.card {
  width: 160px;
  height: 160px;
  margin: 10px;
  border-radius: 12px;
}

.card:hover {
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1) !important;
}

/* fix backgorund img size for the cards */
.card-img {
  position: absolute;
  max-width: 124px;
  max-height: 124px;
  width: 124px;
  height: 124px;
  cursor: pointer;
  background-size: cover;
}

@media only screen and (max-width: 800px) {
  .card {
    width: 120px;
    height: 120px;
    margin: 5px;
  }

  .card-img {
    max-width: 86px;
    max-height: 86px;
    width: 86px;
    height: 86px;
  }
}

@media only screen and (max-width: 400px) {
  .card {
    padding: 0;
    width: 90px;
    height: 90px;
    margin: 5px;
  }

  .card-img {
    max-width: 60px;
    max-height: 60px;
    width: 60px;
    height: 60px;
  }
}
